<div class="main">
    <h1>Mozilla Dev - My To Do List</h1>
    <input class="lg-text-input" #campoNovoItem />
    <button class="btn-primary" (click)="CREATE_tarefa(campoNovoItem.value)">
    Adicionar Tarefa</button>
    <ul>
    <li *ngFor="let tarefaDoLoop of arrayDeTarefas">
    <app-item [tarefa]="tarefaDoLoop" (removeTarefa)="DELETE_tarefa(tarefaDoLoop)"
   (modificaTarefa)="UPDATE_tarefa(tarefaDoLoop)"></app-item>
    </li>
    </ul>
   </div>
<!-- ** Interpolação é o método de aproximar os valores dos conjuntos discretos. 
    Em matemática, denomina-se interpolação o método que permite construir um 
    novo conjunto de dados a partir de um conjunto discreto de dados 
    pontuais previamente conhecidos. -->
<!-- <app-item [tarefa] ="tarefaDoLoop"></app-item> -->