<main>
    <div class="main">
        <h1>Mozilla Dev - My To Do List</h1>
        <input class="lg-text-input" #campoNovoItem />
            <button class="btn-primary" (click)="CREATE_tarefa(campoNovoItem.value)">Adicionar Tarefa</button>
        <ul>
            <!-- *ngFor --- diretiva Angular de repetição -->
            <li *ngFor="let tarefaDoLoop of arrayDeTarefas">
            <!-- {{Interpolaçao no angular}} -->
                {{tarefaDoLoop.descricao}}
            </li>
        </ul>
   </div>
</main>